version: "3.8"
services:
  bamboo-server:
    build: ./
    container_name: bamboo-server
    ports:
      - 8085:8085
      - 3308:3306
    volumes:
      - data:/var/lib/mysql
      - bamboo-server:/var/atlassian/application-data/bamboo

volumes:
  data:
  bamboo-server:
